# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/My\ Music/
/My\ Pictures/
/My\ Videos/
../../adminPro
../../My\ Tableau\ Repository/
../../Virtual\ Machines/
../../Halimat's\ Resume\ (1)\ care.pdf
../../flask/
../../trainings/
